<<<<<<< HEAD
/* .comments-container {
  display: none;
} */

/* .show {
  display: block;
} */
=======
.comments-container {
  display: none;
}

.show {
  display: block;
}

li {
  padding: 15px 0;
}

.btn-danger {
  margin-left: 20px;
}

.comment-name {
  margin-left: 40px;
}

.add-comment {
  margin-left: 15px;
}
>>>>>>> 41b544b06e5051635c5710e803b36720e86d648b
